<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/aboutme.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,400|Noto+Serif:700" rel="stylesheet">
	<title>AboutMe</title>
</head>
<body>
	<div class="header">
		<p class="title">About Me</p>
		<a href="./main.html">Return</a>
	</div>
	<div class="container">
		<ul>
            <li>
                <h3 class="subtitle">Self Intro</h3>
                <p>Manga to be updated</p>
            </li>
            <li>
				<h3 class="subtitle">Skills</h3>
                <p>As a Computer Science student, currently Python is my primary language. I used to use Java, C and C++ a lot; I used C#, Javascript, PHP when I needed to. I had a few experience with Ruby, Go, Haskall, Prolog, and Fortran. </p>
                <p>I do graphic design work and draw with Photoshop and Illustrator. I can use AutoCAD to build 3D models. With UI design and prototype, I use Sketch and Principle. I had some expreiences with Premiere and After Effects when I need to do video editing. In my course, I did typography work in InDesign.</p>
                <p>I can do lead welding and good at assembling things. I had experiences with CNC machining and 3D printing, etc.</p>
				<p>I passed JLPT N1.</p>
			</li>
            <li>
				<h3 class="subtitle">Research Interests</h3>
				<p>I'm interested in exploring new interactive methods with electronic devices, especially wearables. Will there be ways to interact with our sences of smell and taste? Can we substitude all sound interaction to another method, like touching?Such new interactive ways may helps people with sensory disabilities to "feel" through their normal sensors.</p>
                <p>On the other hand, I'm also interested in improving current interactive methods, especially visual interaction with recent devices. How to interact smoothly with large screens? Will there be some innovative interactions other than what Microsoft currently do with AR helmets? Will there be some generic patterns for designs on different platforms?</p>
			</li>

			
		</ul>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
</body>
</html>