<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/main-ep.css">
	<title>main-ep</title>
</head>
<body>
	<div class="header">
		<p class="title">Experiece</p>
		<a href="./main.html">Return</a>
	</div>
	<div class="container">
		<ul>
            <li>
                <p class="subtitle">Intern in EAVision, California</p>
                
                <p>Took the charge of developing the globalization and localization feature of the UAV control software UAVision on Windows platform with C#.</p>
                
                <p>Worked with the development group to complete a stable FTP client and server system between UAV (running Ubuntu) and remote control end (running Windows), mainly completed the whole C++ program on Linux.</p>
                
                <p>During the intern, also joined in the QA process of the team, fixed several bugs including using backgroundworker to prevent freeze of the application.</p>
            </li>
			<li>
				<p class="subtitle">Intern in Cheetah Mobile Inc, Beijing, China</p>

				<p>Collaborated with the development team to modify the screen saver animation interface on the Android app Clean Master.</p>
                
                <p>Utilized Java to improve the interactive part of user interface to meet the demand from UI design group.</p>
			</li>
			
		</ul>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/main-ep.js"></script>
</body>
</html>