<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/main-sparework.css">
	<title>main-work</title>
</head>
<body>
	<div class="header">
		<p class="title">Works</p>
		<a href="./main.html">Return</a>
	</div>
	<div class="container">
        <ul class="nav">
			<li class="active" id="tab1">Artworks</li>
			<li id="tab2">DIY Works</li>
			<li id="tab3">Others</li>
			<div style="clear: both;"></div>
		</ul>
		<div class="content tab1">
            <h2>Some sketches</h2>
            <h3>I'm too lazy to use filters.</h3>
            <p><a href="../public/img/rakugaki1.JPG"><img src="../public/img/rakugaki1.JPG" alt="" width="40%"></a></p>
            <p><img src="../public/img/rakugaki4.JPG" alt="" width="40%"></p>
            <p><img src="../public/img/rakugaki2.JPG" alt="" width="30%"> <img src="../public/img/rakugaki3.JPG" alt="" width="30%"></p>
            <h2>Others</h2>
            <p><img src="../public/img/ps1.JPG" alt="" width="50%"></p>
        </div>
        <div class="content tab2">
            <h2>Rubber stamps</h2>
            <ul>
                <li>
                    <h3>Intro</h3>
                    <p>
                        Hand-cut stamps by me. Usually draw on the paper first, then transfer on thw rubber, finally cut.
                    </p>
                </li>
                <li>
                    <h3>Photos</h3>
                    <p>As you can see, I'm not that good at taking photos.</p>
                    <p><img src="../public/img/kakeru1.JPG" alt="" width="30%"> <img src="../public/img/kakeru2.JPG" alt="" width="30%"> <img src="../public/img/kakeru3.JPG" alt="" width="30%"></p>
                    <p><img src="../public/img/kirito1.JPG" alt="" width="30%"> <img src="../public/img/kirito2.JPG" alt="" width="30%"> <img src="../public/img/kirito3.JPG" alt="" width="30%"></p>
                    <p><img src="../public/img/nya1.JPG" alt="" width="30%"> <img src="../public/img/nya2.JPG" alt="" width="30%"></p>
                    <p></p>
                </li>
            </ul>
            <h2>Vinyl stickers</h2>
            <ul>
                <li>
                    <h3>Intro</h3>
                    <p>
                        I design the patterns (in vertor pictures) in the software first, and cut them though Cameo. 
                    </p>
                </li>
                <li>
                    <h3>Photos</h3>
                    <p><img src="../public/img/vinyl_KA.JPG" alt="" width="50%"></p>
                    <p><img src="../public/img/vinyl_kuma2.JPG" alt="" width="50%"></p>
                    <p><img src="../public/img/vinyl_kuma1.JPG" alt="" width="50%"></p>
                    <p><img src="../public/img/vinyl_pepper2.JPG" alt="" width="50%"></p>
                </li>
            </ul>
            <h2>Tools and toys</h2>
            <ul>
                <li>
                    <h3>Homestar</h3>
                    <p><img src="../public/img/homestar1.JPG" alt="" width="45%"> <img src="../public/img/homestar2.JPG" alt="" width="45%"></p>
                </li>
                <li>
                    <h3>Movable type machine</h3>
                    <p>Furoku of a Japanese megazine.</p>
                    <p><img src="../public/img/Movable_type_machine_before.JPG" alt="" width="45%"> <img src="../public/img/Movable_type_machine.JPG" alt="" width="45%"></p>
                </li>
            </ul>
            <h2>Others</h2>
            <ul>
                <li>
                    <h3>Wax stamp</h3>
                    <p><img src="../public/img/wax_stamp.JPG" alt="" width="45%"></p>
                </li>
                <li>
                    <h3>Miku Clock</h3>
                    <p><img src="../public/img/miku_clock.JPG" alt="" width="45%"></p>
                </li>
            </ul>
        </div>
        <div class="content tab3">
            <h2>Cooking</h2>
            <ul>
                <li>
                    <h3>Okonomiyaki</h3>
                    <p>
                        A kind of traditional Japanese food. In Hiroshima-style and Osaka-style.
                    </p>
                    <p><img src="../public/img/hiroshima_okonomiyaki.JPG" alt="" width="45%"> <img src="../public/img/okonomiyaki.JPG" alt="" width="45%"></p>
                </li>
            </ul>
            
        </div>
	</div>
    <div>
        <p></p>
    </div>
    <div class="footer">
		<p>
			©&nbsp;2016-2018&nbsp;Zhilan&nbsp;Zhou
		</p>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/main-sparework.js"></script>
</body>
</html>