*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Verdana", "Geneva", sans-serif;
	background: #8BA1DA;
}

.container h1{
	margin-top: 120px;
	text-align: center;
	color: #E8C87C;
	font-size: 70px;
}

.container .pic{
	text-align: center;
}

.container p{
	text-align: center;
	font-size: 30px;
	color: #E8C87C;
}

.container .return{
	text-decoration: none;
	color: #fff;
}

.footer{
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.footer p{
	margin-right: 30px;
	text-align: right;
	color: #697EB3;
	font-size: 25px;
}

