*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Noto Sans", sans-serif;
	background: #8BA1DA;
}

.header{
	position: relative;
	height: 120px;
	background: #637AB0;
}

.header .title{
	padding-left: 60px;
	padding-top: 30px;
	font-size: 60px;
    font-family: "georgia", serif;
	color: #E8C87C;
}

.header a{
	position: absolute;
	bottom: 10px;
	right: 50px;
	text-decoration: none;
	color: #E8C87C;
	font-size: 30px;
}

.header a:hover{
	color: #fff;
}

.container{
    width: 80%;
	margin: 0 auto;
    position: absolute;
    padding-left: 60px;
}

.container ul{
	margin-top: 30px;
}

.container ul li{
	list-style-type:square;
	font-size: 20px;
	color: #ffffff;
    margin-left: 50px;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 6px;
}

.subtitle{
    font-size: 20px;
    font-style: italic;
}

li p{
	color: #fff;
	font-size: 16px;
}

li p:not(:last-child){
	margin-bottom: 7px;
}

.footer{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}
.footer p{
	margin-right: 30px;
	text-align: right;
	color: #697EB3;
	font-size: 25px;
}
