*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Noto Sans", sans-serif;
	background: #8BA1DA;
}

.container{
	position: relative;
	width: 1090px;
	margin: 0 auto;
	height: 800px;
	background: url(../img/main-z.png) no-repeat;
	background-size: 100% 100%;
    background-position: center;
}

.container p{
	position: absolute;
}

.container a{
	position: absolute;
	text-decoration: none;
}

.name{
	left: 4%;
	top: 3%;
	font-size: 60px;
	color: #fff;
}

.professional{
	left: 3.5%;
	top: 16%;
	font-size: 60px;
	color: #B7C8E4;
    font-style: italic;
}

.resume{
	left: 4%;
	top: 30%;
	width: 300px;
	height: 60px;
	line-height: 60px;
	background: #E7C683;
	color: #B5913B;
	padding-left: 30px;
	font-size: 30px;
}

.resume:hover{
    background: #B5913B;
	color: #E7C683;
}

.experience{
	left: 4%;
	top: 44%;
	width: 220px;
	height: 60px;
	line-height: 60px;
	background: #E7C683;
	color: #B5913B;
	padding-left: 30px;
	font-size: 30px; 
}

.experience:hover{
    background: #B5913B;
	color: #E7C683;
}

.work{
	left: 4%;
	top: 58%;
	width: 125px;
	height: 60px;
	line-height: 60px;
	background: #E7C683;
	color: #B5913B;
	padding-left: 30px;
	font-size: 30px; 
}

.work:hover{
    background: #B5913B;
	color: #E7C683;
}

.linkedin{
	left: 4%;
	top: 72%;
	background: #637AB0;
	color: #8CA2DB;
	padding-left: 30px;
	font-size: 30px; 
	padding: 0 5px;
	border-radius: 5px;
	font-weight: bold;
}


.swork{
	right: 4%;
	top: 30%;
	width: 120px;
	height: 60px;
	line-height: 60px;
	background: #E7C683;
	color: #B5913B;
	font-size: 30px;
	text-align: right;
	padding-right: 30px;
}

.sworks:hover{
    background: #B5913B;
	color: #E7C683;
}

.recording{
	right: 4%;
	top: 44%;
	width: 210px;
	height: 60px;
	line-height: 60px;
	background: #E7C683;
	color: #B5913B;
	font-size: 30px; 
	text-align: right;
	padding-right: 30px;
}

.recording:hover{
    background: #B5913B;
	color: #E7C683;
}

.construction{
	right: 4%;
	top: 58%;
	width: 280px;
	height: 60px;
	line-height: 60px;
	background: #E7C683;
	color: #B5913B;
	font-size: 30px; 
	text-align: right;
	padding-right: 30px;
}

.construction:hover{
    background: #B5913B;
	color: #E7C683;
}

.spare-time{
	right: 4.6%;
	bottom: 18%;
	font-size: 60px;
	color: #B7C8E4;
    font-style: italic;
}