*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Noto Sans", sans-serif;
	background: #8BA1DA;
}

.header{
	position: relative;
	height: 120px;
	background: #637AB0;
}

.header .title{
	padding-left: 60px;
	padding-top: 30px;
	font-size: 60px;
    font-family: "forte";
	color: #E8C87C;
}

.header a{
	position: absolute;
	bottom: 10px;
	right: 50px;
	text-decoration: none;
	color: #E8C87C;
	font-size: 30px;
}

.header a:hover{
	color: #fff;
}

.container{
	width: 100%;
}

.container .nav{
	background: #2C4B7A;
	height: 50px;
	line-height: 50px;
	list-style: none;
	font-size: 25px;
	color: #7793C3;
}

.nav li{
	float: left;
	width: 33.3%;
	text-align: center;
}

.nav li.active{
	background: #475E80;
}

.nav li:hover{
	cursor: pointer;
	background: #475E80;
}

.content{
	display: none;
	width: 80%;
	margin: 0 auto;
    margin-top: 10px;
}

.tab1{
	display: block;
}

.content h2{
	color: #fff;
	font-size: 24px;
    margin-bottom: 4px;
}
.content li{
	list-style-type:square;
	font-size: 16px;
	color: #2C4B7A;
    margin-left: 50px;
    margin-bottom: 6px;
}

.content h3{
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    font-style: italic;
    margin-bottom: 4px;
}

.content li p{
	color: #fff;
	font-size: 16px;
	display: none;
}

.content li p:not(:last-child){
	margin-bottom: 7px;
}

.content a{
    color:#E8C87C;
}

.content a:hover{
    color:#FFF;
}

.footer{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}
.footer p{
	margin-right: 30px;
	text-align: right;
	color: #697EB3;
	font-size: 25px;
}