<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/constructing.css">
	<title>Constructing</title>
</head>
<body>
	<div class="container">
		<h1>Under construction...</h1>
		<div class="pic">
			<img src="../public/img/worker.png" alt="">
		</div>
		<p class="info">
			Will be available soon
		</p>
		<p class="info">
			Sorry for the inconvience
		</p>
		<p>
			<a href="javascript:history.go(-1);" class="return">Return to the previous page</a>
		</p>
	</div>
	<div class="footer">
		<p>
			©&nbsp;2016-2018&nbsp;Zhilan&nbsp;Zhou
		</p>
	</div>
<script src="../public/libs/jquery/dist/jquery.min.js"></script>
<script src="../public/js/constructing.js"></script>
</body>
</html>